<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - ActivityReceiver</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--begin::Base Styles -->
    <!--begin::Page Vendors -->
    <link href="~/Metronic/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors -->
    <link href="~/Metronic/assets/demo/demo3/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->

    <link rel="stylesheet" href="~/css/replayerStyle.css">

</head>
<body>

    @RenderBody()

    <script src="~/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="~/js/replayer.js" type="text/javascript"></script>

    @RenderSection("Scripts", false)

</body>
</html>