h1,
h2,
h3,
h4,
big,
span,
p,
small,
li,
a,
pre,
div {
  font-family: Helvetica, "Yu Gothic", Arial, serif, sans-serif;
}
.center-container {
  position: relative;
  text-align: center;
}
.center-container > .center-object {
  margin-left: auto;
  margin-right: auto;
}
.bg-white {
  background-color: white;
}
.noUi-connect,
.noUi-origin {
  -webkit-transition: none;
  transition: none;
}
.replayer {
  background-color: white;
}
.replayer .main-view {
  position: relative;
  width: 667px;
  height: 375px;
  border: black solid 1px;
}
.replayer .main-view .presentor {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.replayer .main-view .sentence-jp {
  padding-top: 28px;
  color: #565656;
  font-size: 16px;
}
.replayer .main-view .sentence-en,
.replayer .main-view .answer {
  margin-top: 15px;
  color: #565656;
  font-size: 16px;
}
.replayer .main-view .word-item {
  display: inline-block;
  position: absolute;
}
.replayer .main-view .word-item .word-item-background {
  color: white;
  font-size: 14px;
  margin-top: 20px;
  padding: 4px 20px 5px 20px;
  border-radius: 5px;
  background-color: #222a41;
}
.replayer .main-view .point {
  display: inline-block;
  position: absolute;
  background-color: black;
  width: 5px;
  height: 5px;
  border-radius: 3px;
}
.replayer .info-block .title {
  color: #716aca;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
}
.replayer .info-block .info-group .info-category {
  color: #7b7e8a;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
}
.replayer .info-block .info-group .single-info {
  color: #7b7e8a;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
}
.replayer .info-block .info-group .single-info i {
  position: relative;
  top: 2px;
  margin-right: 6px;
}
