// Fonts
//font-family, color, font-weight
h1,h2,h3,h4,big,span,p,small,li,a,pre,div{
    font-family: Helvetica, Arial, serif,sans-serif;
}



// Colors
@Normal-Grey:#565656;
@Heavy-Turquoise:#222a41;

// Common

.center-container{
    position: relative;
    text-align: center;

    >.center-object{
        margin-left:auto;
        margin-right: auto;
    }
}

// replayer
.replayer {
    display:inline-block;
    width: 667px;

    background-color: white;

    .main-view {
        position: relative;
        width: 667px;
        height: 375px;
        border: black solid 1px;

        .presentor{
            display: block;
            position: absolute;

            width: 100%;
            height: 100%;
        }

        .sentence-jp {
            padding-top: 28px;
            color: @Normal-Grey;
            font-size: 16px;
        }

        .sentence-en {
            margin-top: 15px;
            color: @Normal-Grey;
            font-size: 16px;
        }


        .word-item {
            display: inline-block;
            position: absolute;

            .word-item-background {
                color: white;
                font-size: 14px;
                margin-top: 20px;
                padding: 4px 20px 5px 20px;
                border-radius: 5px;
                background-color: @Heavy-Turquoise;
            }
        }

        .point {
            display: inline-block;
            position: absolute;
            background-color: black;
            width: 5px;
            height: 5px;
            border-radius: 3px;
        }
    }
}