body, html {
    font-family: 'Microsoft YaHei',Poppins,Montserrat;
    letter-spacing: 1px;
}

//Table
.m-datatable__table .m-datatable__body tr td span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//Modal
.modal-footer {
    display:block;
}

//File upload
.flag-completed i{
    opacity:0;
}
