body, html{
    font-family: 'Microsoft YaHei',Poppins,Montserrat,Helvetica,"Yu Gothic",Arial, serif,sans-serif;
    //letter-spacing: 1px;
}

//Table
.m-datatable__table .m-datatable__body tr td span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.m-form .m-form__section.m-form__section--label-align-right .m-form__group > label, .m-form.m-form--label-align-right .m-form__group > label.m--align-left {
    text-align: left;
}
//Modal
.modal-footer {
    display: block;
}

//File upload
.flag-completed i{
    opacity:0;
}
