@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url('@Url.Content("~/Metronic/demos/default/assets/app/media/img//bg/bg-3.jpg")');">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <a href="#">
                        <img src="~/Metronic/demos/default/assets/app/media/img/logos/logo-1.png">
                    </a>
                </div>
                <div class="m-login__signin">
                    <div class="m-login__head">
                        <h3 class="m-login__title">ActivityReceiver</h3>
                        <div class="m-login__desc">モバイル端末アプリ「ActivityReceiver.iOS」の管理用システムです。</div>
                    </div>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, htmlAttributes: new { @class = "m-login__form m-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="Username" name="Username" autocomplete="off">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="Password">
                        </div>
                        <div class="row m-login__form-sub">
                            <div class="col m--align-left m-login__form-left">
                                <label class="m-checkbox  m-checkbox--focus">
                                    <input type="checkbox" value="false" name="RemebmerMe"> ログインしたままにする
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">ログイン</button>
                        </div>
                    }
                </div>

                <div class="m-login__account">
                    <span class="m-login__account-msg">
                        管理者アカウントを持っていない方 ?
                    </span>&nbsp;&nbsp;
                    <a href="@Url.Action("Register","Account")" id="m_login_signup" class="m-link m-link--light m-login__account-link">登録</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")
}
