@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url('@Url.Content("~/Metronic/demos/default/assets/app/media/img//bg/bg-3.jpg")');">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <a href="#">
                        <img src="~/Metronic/demos/default/assets/app/media/img/logos/logo-1.png">
                    </a>
                </div>

                <div class="m-login__signup">
                    <div class="m-login__head">
                        <h3 class="m-login__title">登録</h3>
                        <div class="m-login__desc">新しいアカウントを作成する</div>
                    </div>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, htmlAttributes: new { @class = "m-login__form m-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="Username" name="Username">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="password" placeholder="Password" name="Password">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="password" placeholder="Confirm Password" name="ConfirmPassword">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input m-login__form-input--last" type="text" placeholder="Invitation Code" name="InvitationCode">
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">登録</button>&nbsp;&nbsp;
                            <a id="m_login_signup_cancel" href="@Url.Action("Login","Account")" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">戻る</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")
}
